<!DOCTYPE>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>WebCampBackendNew</title>
  <link rel="stylesheets" href="../../assets/stylesheets/application.css">
</head>

<body>
  <p class="message">Book was successfully created.</p>
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
  <div class="page1">
    <%= link_to "Edit", edit_book_path(@book) %>
  </div>
  <div class="page1">｜</div>
  <a class="page1" href="/books">Back</a>

</body>