<body>
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
  <div class="page1">
    <%= link_to "Edit", edit_book_path(@book) %>
  </div>
  <div class="page1">｜</div>
  <a class="page1" href="/books">Back</a>

</body>