/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1, h2 {
  margin: 20px 0;
}

strong {
  font-weight: bold
}

p {
    margin: 33px;
}

a {
    color: #333;
}


th {
  padding: 5px;
  font-size: 13px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}

.field {
  display: block;
  margin-bottom: 10px;
}

.message {
  color: green
}

.page1 {
  float: left;
  margin: 0;
  padding: 0;
}

.item {
  font-family: normal;
}

.notice {
  color: green;
  margin: 33px;
}

.success {
  color: green;
  margin: 33px;
}

#error {
  width: 450px;
  border: 2px solid red;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error h3 {
  font-size: 12px;
  padding: 5px 5px 5px 15px;
  color: #fff;
  background-color: #c00;
}

#error-message {
  font-size: 12px;
  padding-left: 40px
}

div .field_with_errors {
  background-color: red;
  padding: 2px;
  display: table;
}

.label {
  display: block;
}